################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/bin/Release/Microsoft.SharePoint.Client.dll
/bin/Release
/.vs/SharepointLibraryFileUploader/v15/Server/sqlite3
/obj
